//
// Color
// ----------------------------------------------------------------------------

gray = {
  black: #000
  darkest: #222
  darker: #444
  dark: #777
  middle: #aaa
  light: #ccc
  lighter: #eee
  lightest: #f3f3f3
  white: #fff
}

color = {
  text: gray.darker
  text-light: gray.dark
  heading: gray.darker
  anchor: #0af

  border: gray.light
  background: gray.lightest
  selection: #ffa
}

//
// Essentials
// ----------------------------------------------------------------------------

font = {
  helvetica: unquote('"Helvetica Neue", Arial, sans-serif')
  georgia: unquote('Georgia, "Times New Roman", Times, serif')
  lucida: unquote('"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif')
  mono: unquote('"Bitstream Vera Sans Mono", Consolas, Courier, monospace')

  xxs: 10px
  xs: 12px
  sm: 14px
  md: 16px
  lg: 18px
  xl: 24px
  xxl: 36px
}
font.default = font.helvetica

space = {
  line: 24px

  xxs: 4px
  xs: 8px
  sm: 16px
  md: 24px
  lg: 36px
  xl: 48px
  xxl: 60px
}

// Grid
jeet-gutter = 6

// Viewport Width
viewport = {
  xxs: 400px
  xs: 500px
  sm: 600px
  md: 800px
  lg: 1000px
  xl: 1200px
  xxl: 1400px
}

//
// Enhancements
// ----------------------------------------------------------------------------

shadow = {
  light: rgba(0, 0, 0, .25)
  medium: rgba(0, 0, 0, .35)
  dark: rgba(0, 0, 0, .45)
}

radius = {
  xs: 4px
  sm: 6px
  md: 8px
  lg: 10px
  xl: 12px
}
