doctype html
html.no-js
  include /_shared/head

  body
    .Page
      .PageMain
        .PageMainInner
          .PageContent
            block content

      footer.PageFooter(role='contentinfo')
        .Section
          p Footer

    block footScripts
