head
  meta(charset="utf-8")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")

  block headFonts

  block headMeta
    title Title
    meta(name="description" content="Description")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  block overrideHeadStyles
    link(rel='stylesheet' href='DIGEST(/assets/stylesheets/package.css)')
    block headStyles

  script.
    with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}

  <!--[if IE]>
  script(src='https://cdn.polyfill.io/v2/polyfill.js?features=Element.prototype.classList,Element.prototype.matches,Promise')
  <![endif]-->

  block overrideHeadScripts
    - if (BRUNCH_ENV === 'production')
      script.
        console.log('Running in production!');
    - else
      script.
        console.log('Running in #{BRUNCH_ENV} mode.');
    script(src='DIGEST(/assets/javascripts/package.js)')
    block headScripts
