head
  meta(charset="utf-8")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")

  block headFonts

  block headMeta
    title Title
    meta(name="description" content="Description")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  block overrideHeadStyles
    link(rel='stylesheet' href='DIGEST(/assets/stylesheets/package.css)')
    block headStyles

  script.
    with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}
  block overrideHeadScripts
    script(src='DIGEST(/assets/javascripts/package.js)')
    block headScripts
